VITE_FIREBASE_API_KEY=AIzaSyDFKTOjxB2TLS-sJv7iiSYFFmbOqSP2AvU
VITE_FIREBASE_AUTH_DOMAIN=shipmenttrack-837ec.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shipmenttrack-837ec
VITE_FIREBASE_STORAGE_BUCKET=shipmenttrack-837ec.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=248422302208
VITE_FIREBASE_APP_ID=1:248422302208:web:27aa8d8e57b06e4fc40ee5
VITE_FIREBASE_MEASUREMENT_ID=G-LKTY0PG8VJ
